<h1><%= @patient.name %></h1>
<h3><%= @patient.age %></h3> years old
  <p>
    <% @patient.appointments.each do |app| %>
      <%= app.appointment_datetime.strftime('%B %d, %Y') %> -
      <%= link_to app.doctor.name, doctor_path(app.doctor) %>
  </p>
  <% end %>
