<h1><%= @appointment.appointment_datetime.strftime('%B %d, %Y') %></h1>
<h3>Doctor: <%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %></h3>
<h3>Patient: <%= @appointment.patient.name %></h3>
